# Ignore node_modules for both frontend and backend
**/node_modules/

# Ignore build output
**/dist/
**/build/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific
.DS_Store
Thumbs.db

# Env files
**/.env
.env

# Optional: Ignore IDE/editor config
.vscode/
.idea/
*.swp
